In [1]:
from scipy import stats
from scipy.stats import norm

In [2]:
#A] To find if more employees at the processing center are older than 44 than between 38 and 44

In [5]:
#number of employees older than 44 years of age p(>44)=1-stats.norm.cdf(x,loc=mean,scale=std. deviation)
x=1-stats.norm.cdf(44,loc=38,scale=6)
x

0.15865525393145707

In [6]:
#number of employess > 44 = p(>44)*total no. of employees
x*400

63.46210157258283

In [7]:
#number of employees between 38 to 44 years of age p(38<X<44)
y=stats.norm.cdf(44,38,6)-stats.norm.cdf(38,38,6)
y

0.3413447460685429

In [8]:
#number of employees 38< between < 44 = p(38<y<44)*total no.
y*400

136.53789842741716

In [9]:
#number of employees attending trianing program under 30 age P < 30
400*stats.norm.cdf(30,38,6)

36.484487890347154