In [3]:
#IMPORT THE LIBRARIES 
import pandas as pd 
import numpy as np
import scipy.stats as stats

In [4]:
teledata=pd.read_csv("Costomer+OrderForm.csv")
teledata
#Importing the data set

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [15]:
#Define Hypotheis : H0 = there is a relation between centres for varying defective %
#H1=There is no relation between centres at least one of them is different

In [5]:
#Describing the data set
teledata.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [6]:
#checking the null values 
teledata.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [7]:
teledata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [8]:
#Display value counts for contingency table creation 
print(teledata['Phillippines'].value_counts(),"\n",teledata['Indonesia'].value_counts(),"\n",
      teledata['Malta'].value_counts(),"\n",teledata['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
 Error Free    267
Defective      33
Name: Indonesia, dtype: int64
 Error Free    269
Defective      31
Name: Malta, dtype: int64
 Error Free    280
Defective      20
Name: India, dtype: int64

In [10]:
#creating data table for contingency 
centerdata=[[271,267,269,280],
            [29,33,31,20]]
centerdata

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [11]:
#Finding expected values for centerdata
stat,p,df,exp=stats.chi2_contingency(centerdata)
print("Statistics =",stat,"\n","P_Value =",p,"\n",
      "Degree of Freedom =",df,"\n","Expected values =",exp)

Statistics = 3.858960685820355
 P_Value = 0.2771020991233135
 Degree of Freedom = 3
 Expected values = [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [13]:
#Alloting expected and observed values separately for calculation 
observed=np.array([271,267,269,280,29,33,31,20]) 
expected=np.array([271.75, 271.75, 271.75, 271.75,28.25, 28.25, 28.25, 28.25])

In [14]:
#Comparing and find probability value using chi2
stats,p_val=stats.chisquare(observed,expected,ddof=df)
print("Test statistic =",stats,"\n","P_value =",p_val)

Test statistic = 3.858960685820355
 P_value = 0.4254298144535761

In [ ]:
#from above obtained values p value is clearly > 0.05 alpha
#hence we fail to reject Null Hypotheis