In [9]:
import numpy as np
import pandas as pd
import scipy.stats as stats 
#Importing the Recquired Libraries

In [10]:
#Import the Dataset 
buyer = pd.read_csv('BuyerRatio.csv')
buyer

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [11]:
#Define hypothesis H0 = All propotions are equal 
#H1 = All proportions are not equal

In [12]:
table = [[50,142,131,70],
         [435,1523,1356,750]]

In [21]:
stat, p, dof , exp=stats.chi2_contingency(table)
print("stats =",stat,"\n","P =",p,"\n","DOF =",dof,"\n","exp =",exp)

stats = 1.595945538661058
 P = 0.6603094907091882
 DOF = 3
 exp = [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [24]:
#defning obeserved and expected values 
observed=np.array([50,142,131,70,435,1523,1356,750])
expected=np.array([42.76531299,146.81287862,131.11756787,72.30424052,442.23468701,1518.18712138,1355.88243213,747.69575948])

In [28]:
#comparing expected and observed value and finding the probability value
stats1,p_value=stats.chisquare(observed,expected,ddof=3)
print("Statistics =",stats1,"\n","Probability =",p_value)

Statistics = 1.5959455390914483
 Probability = 0.8095206646905712

In [29]:
#Comparing above obtained Probability value with alpha 0.05
# Probability is > 0.05 hence we fail to reject Null hypothesis